# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.pyo
*.pyd

# Environments
.env
.venv/
venv/
.envrc

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Data & logs
/data/raw/*
/data/processed/*
!data/**/.gitkeep
logs/
*.log

# Build & cache
*.parquet
*.db
*.sqlite
*.duckdb
